# FILES

.travis.yml
.gitignore
.npmignore
.editorconfig
.travis.yml
npm-debug.log
yarn.lock
yarn-error.log
index.debug.js
babel.config.js
ci.yml
.babelrc
.eslintrc.js


# DIRECTORIES
.idea
.github
dmd
test
coverage
jsdoc-api
node_modules
